body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.active {
    background-image: linear-gradient(to left, #2980B9, #6DD5FA);
}

.nav-link {
    color: #fff
}

.nav-link:hover {
    color: #6DD5FA
}

.card {
    border-radius: 0px;
}

@media (max-width: 768px) {
    #faceImg {
        width: 200px;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
        margin-top: 5%;
        margin-bottom: 5%
    }
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .card {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}