body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.active {
    background-image: linear-gradient(to left, #2980B9, #6DD5FA);
}

.nav-link {
    color: #fff
}

.nav-link:hover {
    color: #6DD5FA
}

@media (max-width: 768px) {
    #faceImg {
        display: none;
    }
}